{% block login %}
<div class="control-group dnform">
	{% if error %}
		<p class="error-message">{{ error.message|trans({},'messages') }}</p>
	{% endif %}
	<form action="{{ path('login_check'	) }}" method="post">
		<div class="form-group"><label class="form-default-label">Login</label><input class="form-control" type="text" value="{{ last_username }}" name="_username" />
		<label class="form-default-label">Hasło</label><input class="form-control" type="password" value="" name="_password" />
		<button class="btn btn-default submit" type="submit">Login</button></div>
	</form>
</div>
{% endblock %}