{% extends 'AcmeSiteBundle:Default:base.html.twig' %}
{% block body %}
<div class="form-default">	
	{% if type == 'cert' %}
	
			<p>Twój certyfikat jest gotowy do pobrania!</p>
			<p><h2>Root CA</h2>

		{% elseif type == 'key' %}

			<p>Klucz Twojego certyfikau jest gotowy do pobrania!</p>
			<p><h2>Root CA Private Key</h2>
	{% endif %}
		{% if error is defined %}
			<div class="error-message">
				{{ error }}
			</div>
		{% endif %}
		
		{% form_theme passwdForm 'AcmeFormBundle:Default:default-form.html.twig' %}
			{{ form(passwdForm) }}
	</p>
	</div>
{% endblock %}
