{% extends 'AcmeSiteBundle:Default:base.html.twig' %}
{% block body %}
<h2>Twoje pliki są gotowe do pobrania</h2>
	<p>uwierzytelnij pobieranie hasłem użytym do zabezpieczenia certyfikatu</p>
<div class="form-default">	

		{% if error is defined %}
			<div class="error-message">
				{{ error }}
			</div>
		{% endif %}
		
		{% form_theme passwdForm 'AcmeFormBundle:Default:default-form.html.twig' %}
			{{ form(passwdForm) }}
	</p>
	</div>
{% endblock %}
