{% extends 'AcmeSiteBundle:Default:base.html.twig' %}
{% block body %}
	<div class="form-default">
		{% if error is defined %}
			<div class="error-message">
				{{ error }}
			</div>
		{% endif %}
		{% form_theme passwdForm 'AcmeFormBundle:Default:default-form.html.twig' %}
		{{ form(passwdForm) }}
	</div>
{% endblock %}