{% extends 'AcmeSiteBundle:Default:base.html.twig' %}
{% block body %}
	<div class="form-default">
		<h1>Autoryzacja</h1>
		{% if message is defined %}
			<h3>{{ message }}</h3>
		{% endif %}
		<!-- <p class="desc">wymagana w celu kontynuacji</p> -->
		{% if error is defined %}
			<div class="error-message">
				{{ error }}
			</div>
		{% endif %}
		{% form_theme passwdForm 'AcmeFormBundle:Default:default-form.html.twig' %}
		{{ form(passwdForm) }}
	</div>
{% endblock %}
