{% block tablet %}
	<a href="{{ href }}">
		<div class="tablet" >
			<div class="tablet-center">
				<p class="name">{{ name }}</p>
				<p class='description'>
					{% if description is defined %}
						{{ description }}
					{% endif %}
				</p>
			</div>
		</div>
	</a>
{% endblock %}