{% extends 'AcmeSiteBundle:Default:base.html.twig' %}
{% block body %}
	<p>Twój Root CA jest gotowy do pobrania:</p>
	<p>{{ dump(cert) }}</p>
	<a href="{{ cert }}">Root CA</a>
	<p>{{ dump(decrypted) }}</p>
{% endblock %}